:root {
    --clr-text: #f8dace;
    --clr-text-hover: #f49971;
    --clr-text-active: rgb(34, 50, 102);
    --clr-primary: #f05e23;
    --clr-primary-light: #f05d2379;
    --clr-accent: ;
    --clr-accent-dark: ;
    --ff-title: 'VT323', monospace;
    ;
    --ff-serif: 'VT323', monospace;
    ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 120%;
    font-family: var(--ff-serif);
    color: var(--clr-text);
}

body {
    background-color: var(--clr-primary);
    margin: 0;
    padding: 0;
    color: var(--clr-text);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

a:active {
    color: var(--clr-text-active);
    text-decoration: underline;
}

li {
    list-style: none;
}

nav {
    display: flex;
    margin: 0.6em;
    justify-content: space-between;
}

.nav-list-items li {
    display: inline-block;
    margin: 0.4em;
}

h1 {
    font-size: 2rem;
    color: var(--clr-text);
}

.header-main-big {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0.8em;
    margin-right: 0.8em;
    width: auto;
}

.header-main-text {
    margin-top: -3.5em;
    margin-bottom: 2em;
}

.header-main-select-menu,
.header-select {
    width: 100%;
    /* border: 1px solid black; */
}

.header-select select {
    border: 1px solid black;
    max-width: 32em;
    width: 90%;
    color: var(--clr-primary);
    background-color: var(--clr-text);
    font-family: var(--ff-serif);
    border: none;
    height: 2em;
    font-size: 1.2rem;
    border-radius: 5px;
    padding-left: 0.5em;
    outline: none;
}

.header-button {
    /* border: 1px solid black; */
    margin-top: 2em;
}

.header-button button {
    width: 6em;
    height: 2em;
    font-family: var(--ff-serif);
    font-size: 1.1rem;
    border-radius: 5px;
    color: var(--clr-text);
    background-color: var(--clr-primary);
    border: 3px solid var(--clr-text);
}

.header-button button:active {
    color: var(--clr-text-active);
    border: 3px solid var(--clr-text-active);
}

.section-providers {
    background-color: var(--clr-text);
    color: var(--clr-primary);
    text-align: center;
    padding-top: 1.5em;
    /* margin-left: 0.2em;
    margin-right: 0.2em; */
    border-radius: 20px;
    padding-bottom: 2em;
}

.section-prov-title {
    max-width: 40em;
    width: 100%;
    margin: 2em auto;
    margin-bottom: 3.5em;
    text-align: center;
    /* border: 1px solid black; */
    line-height: 2em;
}

.section-prov-title h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    /* border: 1px solid black; */
}

.carousel-container {
    /* border: 1px ridge blue; */
    width: 90%;
    padding: 0.7em;
    position: relative;
    margin: 2.5em auto;
    height: 15em;
}

.carousel-container img {
    width: 100%;
    border: 3px solid var(--clr-primary-light);
    /* border-radius: 5px; */
    display: block;
    margin: 0 auto;
    height: 100%;
}

.carousel-container img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel-nav {
    /* background-color: blueviolet; */
    margin-top: -1.4em;
}

.carousel-indicator {
    border: 0;
    /* border-radius: 50%; */
    width: 1em;
    height: 1em;
    background-color: var(--clr-text-hover);
    opacity: 0.4;
    margin: 0.1em 0.5em;
    border: 1px solid var(--clr-primary);
}

.active-carousel-button {
    opacity: 1;
}

.carousel-title {
    font-size: 1.5rem;
    margin-top: 1em;
}

.other-map-title {
    display: none;
}


/* ------------------ */


/* ------------------ */


/* Media Queries widths*/


/* ------------------ */


/* ------------------ */

@media only screen and (min-width: 387px) {
    .carousel-container {
        height: 20em;
    }
}

@media only screen and (min-width: 531px) {
    .carousel-container {
        height: 25em;
    }
}

@media only screen and (min-width: 616px) {
    .carousel-container {
        height: 30em;
    }
}

@media only screen and (min-width: 742px) {
    html {
        font-size: 140%;
    }
    .carousel-title {
        font-size: 1.7em;
    }
}

@media only screen and (min-width: 1043px) {
    html {
        font-size: 160%;
    }
    .carousel-text {
        width: 95%;
        /* border: 2px solid black; */
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 1.5em;
        vertical-align: top;
        /* margin-top: -2em; */
    }
    .carousel-text p {
        /* border: solid 1px hotpink; */
        margin-top: -0.05em;
    }
    .carousel-nav {
        display: none;
    }
}

@media only screen and (min-width: 1085px) {
    .carousel-container {
        /* border: 1px blue solid; */
        padding: 0;
        width: 95%;
        height: auto;
    }
    .carousel-container ul {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-around;
        height: auto;
    }
    .carousel-container li {
        /* border: 1px solid yellowgreen; */
        display: block;
    }
    .carousel-container img {
        position: static;
        width: 82%;
    }
    .carousel-container img:first-of-type {
        padding-left: 0;
    }
    .other-map-title {
        display: block;
    }
    .carousel-nav {
        display: none;
    }
}


/* ------------------ */


/* ------------------ */


/* Media Queries heights*/


/* ------------------ */


/* ------------------ */

@media only screen and (min-height: 660px) {
    .header-main-select-menu {
        margin-top: 1em;
    }
    .header-button {
        margin-top: 3em;
    }
}